<h2>Here are your answer</h2>
<article class="container">
  <section id="answer">

  <p><em>-You:</em></p>
  <%= @answer %>
  <p><em>-Your Coach:</em></p>
  <%= @coach_message %>
  <br/>

  </section>
  <%=render 'form'%>
</article>
