<h2>Here are your answer</h2>
<article class="container">
<p><em>-You:</em></p>
<%= @answer %>
<p><em>-Your Coach:</em></p>
<%= @coach_message %>
<br/>
<section>
<%= link_to 'Ask a new question', '/ask' %>
</section>
</article>
