// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: gray;
  h1, h2 {
    text-align: center;
    background-color: azure;
    text-shadow: 2px 2px 4px gray;
  }
  article {
    height: 66vh;
    background-image: url("background.png");
    background-size: cover;
  }
  .container {
    width: 66vw;
    margin: 0 auto;
  }

  section#answer {
    height: 18vh;
    width: 24vw;
    margin: auto;
    background-color: white;
    border-radius: 40%;
    text-align: center;
    p { margin-top: 3vh;}
  }

  section#ask-form{
    text-align: center;
    height: 6vh;
    min-height: 20vh;
    margin-top: 2vh;
  }
  form {
    display: flex;
    flex-direction: column;
    opacity: 1;
    margin: 2vh auto;
    width: fit-content;
    height: fit-content;
  }

  p {
    margin: auto;
    width: 14vw;
    background-color: white;
    border-radius: 33%;
  }

  input {
    height: 8vh;
    border-radius: 36%;

  }

  input.submit {
    background-color: azure;
    font-weight: bold;
  }
}
